#calenderApp {
    position: absolute;
    right: 20;
}

#calenderApp .calender {
    width: 700px;
    height: 300px;
    border: 2px solid #8dfdff;
    margin:5;
    padding: 5;
    background-color: #00151F;
    background-size: 200%;
  }

#calenderApp .calender .monthBar {
    font-size: 25px;
    background-color: #023a53;
    height:30px;
    color:#8dfdff
}

#calenderApp .calender .monthBar .button {
    height: 100%;
    background-color: #023a53;
    color:#8dfdff
}

#calenderApp .calender .monthTable {
    width: 100%;
    height:170px;
}

#calenderApp .calender .monthTable .weekNames {
    color:#8dfdff;
    border: 0px;
}

#calenderApp .calender .monthTable .day {
    color: white;
}

#calenderApp .calender .monthTable .day:hover {
    background-color: #023a53;
    cursor: pointer;
}

#calenderApp .calender .monthTable .eventday {
    background-color: #023a53;
    color:#8dfdff;
}

#calenderApp .calender .monthTable .today {
    border:5px solid #8dfdff;
    border-radius: 50%;
    text-align: center;
}

#calenderApp .openedDay {
    width:100%;
    text-align: center;
}

#calenderApp .openedDay table  {
    width:100%;
}
